.page{
    position: relative;
    color: #ffffff;
}

hr{
    margin-left: 10%!important;
    margin-right: 10%!important;
}

.answered{
    margin-bottom: 1em;
}

.row{
    margin-bottom: 1em !important;
}